@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #0f0f0f;
    color: #f5f5f5;
}

html,
body,
#app {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #000;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.5s ease;
    -webkit-transition: opacity 0.5s ease;
    -moz-transition: opacity 0.5s ease;
    -ms-transition: opacity 0.5s ease;
    -o-transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}